<mat-card>
  <mat-card-title>Добавьте операцию</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-select 
          (selectionChange)="setCategory($event.value)"
          placeholder="Категория операции" required>
        <mat-option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="operation.sum" #ctrl="ngModel" required placeholder="Сумма операции">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
          <textarea matInput [(ngModel)]="operation.descr" required placeholder="Описание операции"></textarea>
        </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="btnCkick()">Добавить операцию</button>
  </mat-card-actions>
</mat-card>