h1 {
  color: #000;
  text-shadow: 0 3px 4px #ff0000;
  font-family: sans-serif; }

.app {
  display: flex;
  align-items: flex-start; }
  .app .app__notification {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    border-radius: 10px;
    background-color: red;
    color: white;
    display: none; }
