<mat-grid-list cols="3">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-input [categories]="categories" (newOperation)="dispOperation($event)"></app-input>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <mat-card>
            <mat-card-title>Операции</mat-card-title>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-stat></app-stat>
    </mat-grid-tile>
</mat-grid-list>