.mainwrap {
    width: 800px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.products, .cart, .total {
    display: grid;
    align-self: start;
    row-gap: 5px;
    margin-bottom: 10px;

}

.products {
    grid-template-columns: 5fr 2fr auto;
}

.cart, .total {
    grid-template-columns: 5fr 2fr;
}

.cart div, .products div, .total div {
    padding: 5px;
    background-color: #dddddd;
}

.total div {
    font-weight: 700;
    background-color: transparent;
}

.add-btn {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: default;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: white;
    background-color: green !important;
    margin-left: 5px;
    font-size: 10px;

    &:before {
        content: '\271A';
    }
}

.name {
    text-align: left;
}

.price {
    text-align: right;

    &:after {
        content: " ₴";
    }
}